extends layout

block vars
    - title = t('pages.help.' + help_type + '-title')

block head
    script(src='/javascripts/date-et-EE.js')

block content
    .container(ng-controller='helpCtrl')
        #search.row
            form.form-group.narrow.col-xs-10.col-sm-8.col-md-6.col-xs-offset-1.col-sm-offset-2.col-md-offset-3
                label.col-xs-1(for='search-input')
                    i.fa.fa-search
                input#search-input.col-xs-10.text-center(type='search', placeholder='', ng-model='search_query' autofocus)

            .col-xs-12.text-center(ng-if='!help && search_query')
                i.fa.fa-spinner.fa-pulse.fa-2x

            small.col-xs-12.text-center(ng-if='help')!= t('pages.help.' + help_type + '-count')

        if user
            .row.spacer

            .row(ng-show='!add_new')
                .checkbox.col-xs-6.col-sm-6.pull-left
                    label
                        input(type='checkbox', ng-model='search_my')
                        | #{ t('pages.help.only-my-' + help_type) }
                .col-xs-6.col-sm-6.text-right.pull-right
                    a.btn.bg-red(ng-click='add_new = true')= t('pages.help.add-new-' + help_type)
            .table(ng-show='add_new')
                .row.bg-green-transparent
                    form
                        .form-group.narrow.col-xs-12.col-sm-3
                            label.control-label(ng-class='{ "active": time_new }')= t('pages.help.time')
                            input#time.form-control(type='text', placeholder=t('pages.help.time-ph'), ng-focus='time_new = true', ng-blur='time_new = false')

                        .form-group.narrow.col-xs-12.col-sm-3
                            label.control-label(ng-class='{ "active": location_new }')= t('pages.help.location')
                            input#location.form-control(type='text', placeholder=t('pages.help.location-ph'), ng-focus='location_new = true', ng-blur='location_new = false')

                        .form-group.narrow.col-xs-12.col-sm-6
                            label.control-label(ng-class='{ "active": request_new }')= t('pages.help.' + help_type + '-request')
                            input#request.form-control(type='text', placeholder=t('pages.help.' + help_type + '-request-ph'), ng-focus='request_new = true', ng-blur='request_new = false')
                        .form-group.narrow.col-xs-10.col-sm-2.pull-right.text-right
                            a#request-save.btn.bg-red.col-xs-12.text-center(href='javascript:void(0)')= t('pages.help.save')
                            i#request-spinner.hidden.fa.fa-cog.fa-spin.fa-2x
                        .form-group.narrow.col-xs-2.pull-right.text-right
                            label.control-label
                            a.btn.btn-link.text-right(ng-click='add_new = false')= t('pages.help.cancel')

        .row(ng-repeat-start='s in statuses')
            h2.col-xs-12(ng-if='(help | filter:{status:s.status, type:type, my:search_my} | filter:search_query).length > 0') {{ s.plural }}

        .table(ng-if='(help | filter:{status:s.status, type:type} | filter:search_query).length > 0')
            .row(ng-repeat='h in help | filter:{status:s.status, type:type, my:search_my} | filter:search_query | orderBy:["-time", "-id"]', ng-class='{ "bg-green-transparent": h.editing }')

                div(ng-show='!h.editing')
                    a(ng-href='help/{{ h.type }}/{{ h.id }}')
                        img.col-xs-2.col-md-1.img-circle(ng-src='{{ h.picture }}', alt='{{ h.person }}')
                    .col.col-xs-10.col-sm-3.col-md-3
                        a(ng-href='help/{{ h.type }}/{{ h.id }}') {{ h.person }}
                        div {{ h.time_formatted }}
                        em {{ h.location }}
                    .col.col-xs-12.col-sm-6.col-md-7 {{ h.request }}
                    a.col.col-xs-12.col-sm-1.text-center(ng-if='h.person_id != #{ user_id }', ng-href='messages/{{ h.person_id }}')= t('pages.help.reply')
                    a.col.col-xs-12.col-sm-1.text-center(ng-if='h.person_id == #{ user_id }', ng-click='h.editing = true')= t('pages.help.edit')

                form(ng-show='h.editing')
                    .form-group.narrow.col-xs-12.col-sm-2
                        label.control-label(ng-class='{ "active": edit[$index].time }')= t('pages.help.time')
                        input.form-control(type='text', placeholder=t('pages.help.time-ph'), ng-model='h.time_formatted', ng-focus='edit[$index].time = true', ng-blur='edit[$index].time = false')
                    .form-group.narrow.col-xs-12.col-sm-2
                        label.control-label(ng-class='{ "active": edit[$index].location }')= t('pages.help.location')
                        input.form-control(type='text', placeholder=t('pages.help.location-ph'), ng-model='h.location', ng-focus='edit[$index].location = true', ng-blur='edit[$index].location = false')
                    .form-group.narrow.col-xs-12.col-sm-6
                        label.control-label(ng-class='{ "active": edit[$index].request }')= t('pages.help.' + help_type + '-request')
                        input.form-control(type='text', placeholder=t('pages.help.' + help_type + '-request-ph'), ng-model='h.request', ng-focus='edit[$index].request = true', ng-blur='edit[$index].request = false')
                    .form-group.narrow.col-xs-12.col-sm-2
                        label.control-label(ng-class='{ "active": edit[$index].status }')= t('pages.help.status')
                        select.form-control(ng-options='s.status as s.label for s in statuses', ng-model='h.status', ng-focus='edit[$index].status = true', ng-blur='edit[$index].status = false')
                    .form-group.narrow.col-xs-10.col-sm-2.pull-right.text-right
                        label.control-label
                        a.btn.bg-red.col-xs-12.text-center(ng-click='Save(h)')= t('pages.help.save')
                        i.hidden.fa.fa-cog.fa-spin.fa-2x
                    .form-group.narrow.col-xs-2.pull-right.text-right
                        label.control-label
                        a.btn.btn-link.text-right(ng-click='h.editing = false')= t('pages.help.cancel')

        div(ng-repeat-end)

        .row.spacer

    script.
        $('#time').change(function() {
            var d = Date.parse($(this).val())
            if(d) {
                $(this).val(d.toString('dd.MM.yyyy HH:mm').replace(' 00:00', ''))
            } else {
                $(this).val('')
            }
        })

        $('#request-save').click(function() {
            if($('#request').val()) {
                $('#request-save').addClass('hidden')
                $('#request-spinner').removeClass('hidden')
                var postdata = {
                    'type': '#{ help_type }',
                    'time': $('#time').val(),
                    'location': $('#location').val(),
                    'request': $('#request').val()
                }
                $.post('', postdata, function(data) {
                    setTimeout(function() {
                        location.reload(true)
                    }, 1500)
                }).fail(
                    setTimeout(function() {
                        location.reload(true)
                    }, 1500)
                )
            } else {
                $('#request').focus()
            }
        })
