extends layout

block vars

block head
    meta(property='og:title', content=profile.get('forename.value') + ' ' + profile.get('surname.value'))
    meta(property='og:image', content=profile.get('_picture'))
    meta(property='og:description', content=help.get('request.value'))

block title
    #title
        .container
            .row
                img.col-xs-4.col-md-2.col-xs-offset-4.col-md-offset-5.img-circle(src=profile.get('_picture'), alt=profile.get('forename.value'))

            .row
                h1.col-xs-12.text-center
                    | #{profile.get('forename.value')} #{profile.get('surname.value')}
                p.text-center
                    em= profile.get('slogan.value')


block content
    .container
        .row.text-center
            strong.col-xs-12= help.get('time.value', '').replace(' 00:00', '')
            .col-xs-12
                em= help.get('location.value')
                br
                br
            .col-xs-12= help.get('request.value')
        .row.spacer
        .row.text-center
            a.btn.bg-red.col.col-xs-2.col-xs-offset-5(href='messages/' + help.get('person.reference', '') + '#message')= t('pages.help.reply')
        .row.spacer
