extends layout

block vars
    - title = t('pages.help.' + helpType + '-title')

block head
    script(src='/javascripts/date-et-EE.js')

block content
    .container(ng-controller='helpCtrl')
        .row(ng-show='!help')
            .col-xs-12.text-center
                i.fa.fa-spinner.fa-pulse.fa-2x
        #search.row(ng-show='help')
            form.form-group.narrow.col-xs-10.col-sm-8.col-md-6.col-xs-offset-1.col-sm-offset-2.col-md-offset-3
                label.col-xs-1(for='search-input')
                    i.fa.fa-search
                input#search-input.col-xs-10.text-center(type='search', placeholder='', ng-model='search_query' autofocus)

            small.col-xs-12.text-center(ng-if='help')!= t('pages.help.' + helpType + '-count')

        if user
            .row.spacer

            .row(ng-show='!addNew')
                .checkbox.col-xs-6.col-sm-6.pull-left(ng-show='help')
                    label
                        input(type='checkbox', ng-model='searchMy')
                        | #{ t('pages.help.only-my-' + helpType) }
                .col-xs-6.col-sm-6.text-right.pull-right
                    a.btn.bg-red(ng-click='addNew = true')= t('pages.help.add-new-' + helpType)
            .table(ng-show='addNew')
                .row.bg-green-transparent
                    form
                        .form-group.narrow.col-xs-12.col-sm-3
                            label.control-label(ng-class='{ "active": time_new }')= t('pages.help.time')
                            input.form-control(type='text', placeholder=t('pages.help.time-ph'), ng-model='new.time', ng-focus='time_new = true', ng-blur='time_new = false; new.time = formatTime(new.time)')

                        .form-group.narrow.col-xs-12.col-sm-3
                            label.control-label(ng-class='{ "active": location_new }')= t('pages.help.location')
                            input.form-control(type='text', placeholder=t('pages.help.location-ph'), ng-model='new.location', ng-focus='location_new = true', ng-blur='location_new = false')

                        .form-group.narrow.col-xs-12.col-sm-6
                            label.control-label(ng-class='{ "active": request_new }')= t('pages.help.' + helpType + '-request')
                            input.form-control(type='text', placeholder=t('pages.help.' + helpType + '-request-ph'), ng-model='new.request', ng-focus='request_new = true', ng-blur='request_new = false')
                        .form-group.narrow.col-xs-10.col-sm-2.pull-right.text-right
                            label.control-label
                            a.btn.bg-red.col-xs-12.text-center(ng-if='!adding', ng-click='Add("#{ helpType }", new)')= t('pages.help.save')
                            a.btn.bg-red.col-xs-12.text-center(ng-if='adding', disabled)
                                i.fa.fa-spinner.fa-pulse
                        .form-group.narrow.col-xs-2.pull-right.text-right
                            label.control-label
                            a.btn.btn-link.text-right(ng-click='addNew = false')= t('pages.help.cancel')

        .row(ng-repeat-start='s in statuses')
            h2.col-xs-12(ng-if='(help | filter:{filterStatus:s.status, type:type, filterMy:searchMy} | filter:search_query).length > 0') {{ s.plural }}

        .table(ng-if='(help | filter:{filterStatus:s.status, type:type} | filter:search_query).length > 0')
            .row(ng-repeat='h in help | filter:{filterStatus:s.status, type:type, filterMy:searchMy} | filter:search_query | orderBy:["-time.sql", "-id"]', ng-class='{ "bg-green-transparent": h.editing }')

                div(ng-show='!h.editing')
                    a(ng-href='help/{{ h.type }}/{{ h.id }}')
                        img.col-xs-2.col-md-1.img-circle(ng-src='{{ h.person.picture }}', alt='{{ h.person.name }}')
                    .col.col-xs-10.col-sm-3.col-md-3
                        a(ng-href='help/{{ h.type }}/{{ h.id }}') {{ h.person.name }}
                        div
                        em {{ h.location.value }}
                    .col.col-xs-12.col-sm-6.col-md-7 {{ h.request.value }}
                    a.col.col-xs-12.col-sm-1.text-center(ng-if='h.person.reference != #{ user_id }', ng-href='messages/{{ h.person.reference }}')= t('pages.help.reply')
                    a.col.col-xs-12.col-sm-1.text-center(ng-if='h.person.reference == #{ user_id }', ng-click='h.editing = true')= t('pages.help.edit')

                form(ng-show='h.editing')
                    .form-group.narrow.col-xs-12.col-sm-2
                        label.control-label(ng-class='{ "active": edit[$index].time }')= t('pages.help.time')
                        input.form-control(type='text', placeholder=t('pages.help.time-ph'), ng-model='h.time.value', ng-focus='edit[$index].time = true', ng-blur='edit[$index].time = false; h.time.value = formatTime(h.time.value)')
                    .form-group.narrow.col-xs-12.col-sm-2
                        label.control-label(ng-class='{ "active": edit[$index].location }')= t('pages.help.location')
                        input.form-control(type='text', placeholder=t('pages.help.location-ph'), ng-model='h.location.value', ng-focus='edit[$index].location = true', ng-blur='edit[$index].location = false')
                    .form-group.narrow.col-xs-12.col-sm-6
                        label.control-label(ng-class='{ "active": edit[$index].request }')= t('pages.help.' + helpType + '-request')
                        input.form-control(type='text', placeholder=t('pages.help.' + helpType + '-request-ph'), ng-model='h.request.value', ng-focus='edit[$index].request = true', ng-blur='edit[$index].request = false')
                    .form-group.narrow.col-xs-12.col-sm-2
                        label.control-label(ng-class='{ "active": edit[$index].status }')= t('pages.help.status')
                        select.form-control(ng-options='s.status as s.label for s in statuses', ng-model='h.status.value', ng-focus='edit[$index].status = true', ng-blur='edit[$index].status = false')
                    .form-group.narrow.col-xs-10.col-sm-2.pull-right.text-right
                        label.control-label
                        a.btn.bg-red.col-xs-12.text-center(ng-if='!saving', ng-click='Save(h)')= t('pages.help.save')
                        a.btn.bg-red.col-xs-12.text-center(ng-if='saving', disabled)
                            i.fa.fa-spinner.fa-pulse
                    .form-group.narrow.col-xs-2.pull-right.text-right
                        label.control-label
                        a.btn.btn-link.text-right(ng-click='h.editing = false')= t('pages.help.cancel')

        div(ng-repeat-end)

        .row.spacer
