extends layout

block head
    meta(property='og:title', content='Helpific')
    meta(property='og:image', content='https://helpific.com/images/helpific-logo.png')
    meta(property='og:description', content=t('pages.index.slogan'))

block title

block content
    #cover.container-fluid= t('pages.index.slogan')

    .container(ng-controller='indexCtrl')
        .row.spacer

            .col-md-12.col-xs-12
                .row
                    .jumbotron.col-xs-12.text-center!= t('pages.index.text')

                    .jumbotron.col-xs-12.text-center
                        h2= t('pages.index.twitter-title')
                        <a class="twitter-timeline" href="https://twitter.com/Helpific" data-widget-id="670246404569309185" width="520" height="300" data-chrome="nofooter noheader">Tweets by @Helpific</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


        .row.text-center
            h2.col-xs-12= t('pages.index.how-it-works')
            #bullet-1.col-xs-10.col-sm-4.col-md-2.col-xs-offset-1.col-sm-offset-0.col-md-offset-2.text-center
                .bullet 1
                | #{ t('pages.index.bullet-1') }
            #bullet-2.col-xs-10.col-sm-4.col-md-2.col-xs-offset-1.col-sm-offset-0.col-md-offset-1.text-center
                .bullet 2
                | #{ t('pages.index.bullet-2') }
            #bullet-3.col-xs-10.col-sm-4.col-md-2.col-xs-offset-1.col-sm-offset-0.col-md-offset-1.text-center
                .bullet 3
                | #{ t('pages.index.bullet-3') }

        .row.spacer

    unless user
        .container-fluid
            .row.text-center
                h2.col-xs-12= t('pages.sign-in.title')
            .row
                .col-xs-12.text-center
                    p#terms-label!= t('pages.sign-in.terms')
            .row
                .col-xs-12.text-center
                    a(href='signin/facebook', title='Facebook', aria-label= t('pages.sign-in.facebook'), aria-labelledby="terms-label")
                        i.signin.fa.fa-facebook-square.fa-5x(style='color:#3b5998')
                    a(href='signin/google', title='Google', aria-label= t('pages.sign-in.google'), aria-labelledby="terms-label")
                        i.signin.fa.fa-google-plus-square.fa-5x(style='color:#dd4b39')
            .row.spacer


    #scroll-down
        i.fa.fa-chevron-down.fa-3x

    script.
        $(window).scroll(function(event) {
            $('#cover').css('background-position', 'center ' + $(window).scrollTop() * 0.3 + 'px')

            if($(window).scrollTop() > 10) {
                var alpha = 1 - $(window).scrollTop() / 200
                $('#cover').css('color', 'rgba(255, 255, 255, ' + alpha + ')')
                $('#cover').css('text-shadow', '0px 0px 10px rgba(88, 88, 88, ' + alpha + ')')
                $('#scroll-down').css('color', 'rgba(88, 88, 88, ' + (alpha - 0.5) + ')')
            }
            if($(window).scrollTop() > 50) $('#scroll-down').addClass('hidden')

            $('#bullet-1').css('opacity', ($(window).scrollTop() + $(window).height() - $('#bullet-1').offset().top - $('#bullet-1').height() / 2  ) / 100)
            $('#bullet-2').css('opacity', ($(window).scrollTop() + $(window).height() - $('#bullet-2').offset().top - $('#bullet-2').height() / 1.5) / 100)
            $('#bullet-3').css('opacity', ($(window).scrollTop() + $(window).height() - $('#bullet-3').offset().top - $('#bullet-3').height())       / 100)
        })
