doctype html
html(lang=lang, ng-app='hlpfc')

    block vars

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, width=device-width, minimal-ui')
        meta(name='p:domain_verify', content='2c087c1e3f8802bb17c811d5cc4a5746')
        if description
            meta(name='description', content=description)
        if keywords
            meta(name='keywords', content=keywords.join(', '))

        title= (title && title !== 'Helpific') ? title + ' - Helpific' : 'Helpific'

        base(href='/' + lang + '/')

        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Raleway:400,700')
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.styl')
        link(rel='stylesheet', type='text/css', href='/stylesheets/smoke.min.css')

        link(rel='icon', type='image/png', href='/images/helpific-logo.png')
        link(rel='apple-touch-icon', type='image/png', href='/images/helpific-logo.png')

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-260765-34', 'auto');
            ga('send', 'pageview');

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        script(src='/javascripts/helpific.js')
        script(src='/javascripts/smoke.min.js')

        script.
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','https://connect.facebook.net/en_US/fbevents.js');
                fbq('init', '600803160076410');
            fbq('track', "PageView");


        block head
    body
        div#fb-root
        script.
            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1153339291359316";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        #wrap
            #main
                nav.navbar.navbar-default.navbar-fixed-top
                    .container
                        .navbar-header
                            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                                span.sr-only=t('nav.toggle-navigation')
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a#brand-image.navbar-brand(href='/' + lang)
                                img(src='/images/helpific-logo-text-hr.png', alt='Helpific logo')
                            a#brand-text.hidden.navbar-brand(href='/' + lang)
                                span
                                    img(src='/images/helpific-logo.png', alt='Helpific logo')
                                | #{ title }
                        .collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
                            ul.nav.navbar-nav.navbar-right
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                        = t('nav.projects')
                                        | &nbsp;
                                        span.caret
                                    ul.dropdown-menu
                                        li
                                            a(href='bb')= t('nav.bb')

                                        if lang == 'et'
                                            li
                                                a(href='http://est.padproject.eu/')= t('nav.pad')
                                        else if lang == 'ru'
                                            li
                                                a(href='http://rus.padproject.eu/')= t('nav.pad')
                                        else if lang == 'fi'
                                            li
                                                a(href='http://fin.padproject.eu/')= t('nav.pad')
                                        else
                                            li
                                                a(href='http://eng.padproject.eu/')= t('nav.pad')
                                        li
                                            a(href='kysk')= t('nav.kysk')
                                li
                                    a(href='help/requests')= t('nav.requests')
                                li
                                    a(href='help/offers')= t('nav.offers')
                                li
                                    a(href='about')= t('nav.about')
                                if lang == 'et'
                                    li
                                        a(href='http://vabatahtlik.helpific.com/', title="Blogspot", target='_blank')= t('nav.blog')
                                else
                                    li
                                        a(href='http://volunteer.helpific.com/', title="Blogspot", target='_blank')= t('nav.blog')

                                if user
                                    li.dropdown
                                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                            i.fa.fa-user
                                        ul.dropdown-menu
                                            li
                                                a(href='messages')= t('nav.me.messages')
                                            li
                                                a(href='help/requests#my')= t('nav.me.requests')
                                            li
                                                a(href='help/offers#my')= t('nav.me.offers')
                                            li.divider
                                            li
                                                a(href='profile')= t('nav.me.profile')
                                            li.divider
                                            li
                                                a(href='signin/exit')= t('nav.me.sign-out')
                                else
                                    li
                                        a(href='signin')= t('nav.sign-in')
                                    li.dropdown
                                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                            = t('locales.' + lang.toLowerCase())
                                            | &nbsp;
                                            span.caret
                                        ul.dropdown-menu
                                            each l in locales
                                                li
                                                    a(href='/' + l + path.substring(3))= t('locales.' + l)
                block title
                    #title
                        .container
                            if title
                                .row
                                    h1.col-xs-12.text-center= title
                                    if sub_title
                                        h2.col-xs-12.text-center= sub_title

                block content

        if showFeedback
            .container
                .row
                    i#feedback-open.fa.fa-envelope.fa-3x(title=t('feedback.title'))
                    form#feedback.hidden.col-xs-12.col-sm-6.col-md-5
                        #feedback-form
                            i#feedback-close.fa.fa-times-circle.fa-2x
                            h2.text-center= t('feedback.title')
                            if !user
                                .form-group.col-xs-12
                                    label.control-label(for='feedback-email')= t('feedback.email')
                                    input#feedback-email.form-control(type='email')
                            .form-group.col-xs-12
                                label.control-label(for='feedback-message')= t('feedback.message')
                                textarea#feedback-message.form-control(rows=4)
                            a#feedback-send.col-xs-12.text-center(href='javascript:void(0)')= t('feedback.send')
                        #feedback-ok.hidden.text-center
                            h2.text-center= t('feedback.thanks')

        footer.container-fluid
            .container
                .row
                    .col-xs-12.col-sm-6!= t('footer.contact')
                    .links.col-xs-12.col-sm-6.text-right
                        a(href='about')= t('nav.about')
                        br
                        a(href='team')= t('nav.team')
                        br
                        a(href='partners')= t('nav.partners')
                        br
                        a(href='terms')= t('nav.terms')
                        br
                        a(href='mittetulundusuhing-info')= t('nav.ngo-info')
                        if lang == 'et'
                            br
                            a(href='http://vabatahtlikud.ee/vabatahtlik-tegevus/vabatahtliku-tegevuse-hea-tava', target='_blank') Vabatahtliku tegevuse hea tava
                .row
                    .col-xs-12.text-left
                        small
                            i Helpific on kantud tulumaksusoodustusega mittetulundusühingute nimekirja alates 01.07.2016
                .row
                    .col-xs-12.text-center
                        a(href='https://www.facebook.com/Helpific', target='_blank', title="Facebook", aria-label="Facebook")
                            i.fa.fa-facebook-square.fa-2x.social
                        a(href='https://www.twitter.com/helpific', target='_blank', title="Twitter", aria-label="Twitter")
                            i.fa.fa-twitter-square.fa-2x.social
                        a(href='http://vabatahtlik.helpific.com/', target='_blank', title="Blogspot Eesti", aria-label="Blogspot Eesti")
                            i.fa.fa-rss-square.fa-2x.social
                        a(href='http://volunteer.helpific.com/', target='_blank', title="Blogspot International", aria-label="Blogspot International")
                            i.fa.fa-rss-square.fa-2x.social
                        a(href='https://www.instagram.com/helpific/', target='_blank', title="Instagram", aria-label="Instagram")
                            i.fa.fa-instagram.fa-2x.social
                        a(href='https://www.linkedin.com/company/helpific', target='_blank', title="LinkedIn", aria-label="LinkedIn")
                            i.fa.fa-linkedin-square.fa-2x.social
                        a(href='https://www.pinterest.com/helpific/', target='_blank', title="Pinterest", aria-label="Pinterest")
                            i.fa.fa-pinterest-square.fa-2x.social
                        a(href='http://helpific.tumblr.com/', target='_blank', title="Tumblr", aria-label="Tumblr")
                            i.fa.fa-tumblr-square.fa-2x.social
                        a(href='https://www.youtube.com/channel/UC0b5JqEQXdZuex5TNKSpoug', target='_blank', title="YouTube", aria-label="YouTube")
                            i.fa.fa-youtube-square.fa-2x.social


        script.
            $(window).scroll(function(event) {
                if($(window).scrollTop() > 10) {
                    $('.navbar').addClass('navbar-border')
                } else {
                    $('.navbar').removeClass('navbar-border')
                }
                if(window.location.pathname !== '/#{ lang }') {
                    if($(window).scrollTop() > 60) {
                        $('#brand-image').addClass('hidden')
                        $('#brand-text').removeClass('hidden')
                        $('#title h1').addClass('color-white')
                    } else {
                        $('#brand-image').removeClass('hidden')
                        $('#brand-text').addClass('hidden')
                        $('#title h1').removeClass('color-white')
                    }
                }
            })

        if showFeedback
            script.
                $('#feedback-open').click(function() {
                    $('#feedback-open').addClass('hidden')
                    $('#feedback').removeClass('hidden')
                })

                $('#feedback-close').click(function() {
                    $('#feedback').addClass('hidden')
                    $('#feedback-open').removeClass('hidden')
                })

                $('#feedback-send').click(function() {
                    if($('#feedback-message').val()) {
                        $('#feedback-form').addClass('hidden')
                        $('#feedback-ok').removeClass('hidden')
                        var postdata = {
                            'from-email': $('#feedback-email').val(),
                            message: $('#feedback-message').val()
                        }
                        $.post('feedback', postdata, function(data) {
                            console.log(data)
                        }).fail(console.log)
                        setTimeout(function() {
                            $('#feedback-message').val('')
                            $('#feedback-ok').addClass('hidden')
                            $('#feedback-form').removeClass('hidden')
                            $('#feedback').addClass('hidden')
                            $('#feedback-open').removeClass('hidden')
                        }, 1500)
                    } else {
                        $('#feedback-message').focus()
                    }
                })
