extends layout

block head
    link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
    script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')

block vars
    - title = t('pages.profile.title')

block content
    .container
        form#profile-form
            .row
                .form-group.col-xs-12.col-sm-12
                    label.control-label(for='slogan')= t('pages.profile.slogan')
                    input#slogan.form-control(type='text', placeholder=t('pages.profile.slogan-ph'), value=profile.get('slogan.value'), data-value=profile.get('slogan.value'), data-id=profile.get('slogan.id'))

                .form-group.col-xs-12.col-sm-3
                    label.control-label(for='forename')= t('pages.profile.forename')
                    input#forename.form-control(type='text', placeholder=t('pages.profile.forename-ph'), value=profile.get('forename.value'), data-value=profile.get('forename.value'), data-id=profile.get('forename.id'))

                .form-group.col-xs-12.col-sm-3
                    label.control-label(for='surname')= t('pages.profile.surname')
                    input#surname.form-control(type='text', placeholder=t('pages.profile.surname-ph'), value=profile.get('surname.value'), data-value=profile.get('surname.value'), data-id=profile.get('surname.id'))

                .form-group.col-xs-12.col-sm-3
                    label.control-label(for='email')= t('pages.profile.email')
                    input#email.form-control(type='text', placeholder=t('pages.profile.email-ph'), value=profile.get('email.value'), data-value=profile.get('email.value'), data-id=profile.get('email.id'))

                //- .form-group.col-xs-12.col-sm-3
                //-     label.control-label(for='photo') Profile Picture
                //-     input#photo.form-control(type='file')

            .row.spacer
            .row.spacer

                .form-group.col-xs-12.col-sm-4
                    label.control-label(for='address')= t('pages.profile.address')
                    input#address.form-control(type='text', placeholder=t('pages.profile.address-ph'), value=profile.get('address.value'), data-value=profile.get('address.value'), data-id=profile.get('address.id'))
                .form-group.col-xs-12.col-sm-4
                    label.control-label(for='town')= t('pages.profile.city')
                    input#town.form-control(type='text', placeholder=t('pages.profile.city-ph'), value=profile.get('town.value'), data-value=profile.get('town.value'), data-id=profile.get('town.id'))

                .form-group.col-xs-12.col-sm-4
                    label.control-label(for='county')= t('pages.profile.county')
                    input#county.form-control(type='text', placeholder=t('pages.profile.county-ph'), value=profile.get('county.value'), data-value=profile.get('county.value'), data-id=profile.get('county.id'))

                .form-group.col-xs-12.col-sm-4
                    label.control-label(for='country')= t('pages.profile.country')
                    input#country.form-control(type='text', placeholder=t('pages.profile.country-ph'), value=profile.get('country.value'), data-value=profile.get('country.value'), data-id=profile.get('country.id'))


            .row.spacer
            .row.spacer

            .row
                .col-xs-12
                    a.profile-tab.col-xs-4.bg-green(href='javascript:void(0)', data-tab='me-help-you-tab')= t('pages.profile.me-help-you-tab')
                    a.profile-tab.profile-tab-active.col-xs-4.bg-red(href='javascript:void(0)', data-tab='about-me-tab')= t('pages.profile.about-me-tab')
                    a.profile-tab.col-xs-4.bg-yellow(href='javascript:void(0)', data-tab='you-help-me-tab')= t('pages.profile.you-help-me-tab')

            .row
                #me-help-you-tab.profile-tab-pane
                    .form-group.col-xs-12
                        label.control-label(for='me-help-you-text')= t('pages.profile.me-help-you-text')
                        textarea#me-help-you-text.form-control(data-value=profile.get('me-help-you-text.value'), data-id=profile.get('me-help-you-text.id'), rows=8)= profile.get('me-help-you-text.value')
                        p.text-right
                            small!= t('pages.profile.markdown-info')

                    //- .form-group.col-xs-12.col-sm-4
                    //-     label.control-label(for='me-help-you-photo') Cover Photo
                    //-     input#me-help-you-photo.form-control(type='file')

                    .form-group.col-xs-12.col-sm-8
                        label.control-label(for='me-help-you-video')= t('pages.profile.me-help-you-video')
                        input#me-help-you-video.form-control(type='text', placeholder=t('pages.profile.video-ph'), value=profile.get('me-help-you-video.value'), data-value=profile.get('me-help-you-video.value'), data-id=profile.get('me-help-you-video.id'))
                        p.text-right
                            small!= t('pages.profile.video-info')

                #about-me-tab.profile-tab-pane
                    .form-group.col-xs-12
                        label.control-label(for='about-me-text')= t('pages.profile.about-me-text')
                        textarea#about-me-text.form-control(data-value=profile.get('about-me-text.value'), data-id=profile.get('about-me-text.id'), rows=8)= profile.get('about-me-text.value')
                        p.text-right
                            small!= t('pages.profile.markdown-info')

                    //- .form-group.col-xs-12.col-sm-4
                    //-     label.control-label(for='about-me-photo') Cover Photo
                    //-     input#about-me-photo.form-control(type='file')

                    .form-group.col-xs-12.col-sm-8
                        label.control-label(for='about-me-video')= t('pages.profile.about-me-video')
                        input#about-me-video.form-control(type='text', placeholder=t('pages.profile.video-ph'), value=profile.get('about-me-video.value'), data-value=profile.get('about-me-video.value'), data-id=profile.get('about-me-video.id'))
                        p.text-right
                            small!= t('pages.profile.video-info')

                #you-help-me-tab.profile-tab-pane
                    .form-group.col-xs-12
                        label.control-label(for='you-help-me-text')= t('pages.profile.you-help-me-text')
                        textarea#you-help-me-text.form-control(data-value=profile.get('you-help-me-text.value'), data-id=profile.get('you-help-me-text.id'), rows=8)= profile.get('you-help-me-text.value')
                        p.text-right
                            small!= t('pages.profile.markdown-info')

                    //- .form-group.col-xs-12.col-sm-4
                    //-     label.control-label(for='you-help-me-photo') Cover Photo
                    //-     input#you-help-me-photo.form-control(type='file')

                    .form-group.col-xs-12.col-sm-8
                        label.control-label(for='you-help-me-video')= t('pages.profile.you-help-me-video')
                        input#you-help-me-video.form-control(type='text', placeholder=t('pages.profile.video-ph'), value=profile.get('you-help-me-video.value'), data-value=profile.get('you-help-me-video.value'), data-id=profile.get('you-help-me-video.id'))
                        p.text-right
                            small!= t('pages.profile.video-info')

            .row.spacer

    script.
        setTimeout(function() {
            $('#me-help-you-tab').addClass('hidden')
            $('#you-help-me-tab').addClass('hidden')
        }, 100)

        $('.profile-tab').click(function() {
            $('.profile-tab').removeClass('profile-tab-active')
            $(this).addClass('profile-tab-active')

            $('.profile-tab-pane').addClass('hidden')
            $('#' + $(this).data('tab')).removeClass('hidden')
        })


        var md = {}
        $('textarea').each(function() {
            var input = $(this)
            var id = input.attr('id')
            md[id] = new SimpleMDE({
                element: document.getElementById(id),
                status: false,
                spellChecker: false
            })
            md[id].render()
            md[id].codemirror.on('focus', function() {
                $("label[for='" + id + "']").addClass('labelfocus')
                $('.CodeMirror').addClass('CodeMirror-focus')
            })
            md[id].codemirror.on('blur', function() {
                $("label[for='" + id + "']").removeClass('labelfocus')
                $('.CodeMirror').removeClass('CodeMirror-focus')
                var value = md[id].value()
                if(input.data('value') !=value) {
                    var postdata = {
                        property: input.attr('id'),
                        id: input.data('id'),
                        value: value
                    }
                    $.post('', postdata, function(data) {
                        input.val(data.value)
                        input.data('id', data.id)
                        input.data('value', data.value)
                    }).fail(console.log)
                }
            })
        })

        $('input').focus(function() {
            $("label[for='" + this.id + "']").addClass('labelfocus')
        }).blur(function() {
            $('label').removeClass('labelfocus')

            input = $(this)
            if(input.data('value') != input.val()) {
                var postdata = {
                    property: input.attr('id'),
                    id: input.data('id'),
                    value: input.val()
                }
                $.post('', postdata, function(data) {
                    input.val(data.value)
                    input.data('id', data.id)
                    input.data('value', data.value)
                }).fail(console.log)
            }
        })
