extends layout

block content
    .container
        .row
            .col-xs-12
                ul.nav.nav-pills.nav-justified
                    if profile.i_help.video || profile.i_help.photo || profile.i_help.text || profile.you_help.video || profile.you_help.photo || profile.you_help.text
                        li.active(style='background-color:#f14d3e')
                            a(href='#tab-about', data-toggle='tab') About #{profile.forename}
                    if profile.i_help.video || profile.i_help.photo || profile.i_help.text
                        li(style='background-color:#55938e')
                            a(href='#tab-i-help', data-toggle='tab') I help you
                    if profile.you_help.video || profile.you_help.photo || profile.you_help.text
                        li(style='background-color:#fab235')
                            a(href='#tab-you-help', data-toggle='tab') You help me
        .row.tab-content
            #tab-about.tab-pane.active
                if profile.about.video
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item.col-xs-12(src=profile.about.video, allowtransparency='true', frameborder='0', scrolling='no', allowfullscreen, mozallowfullscreen, webkitallowfullscreen, oallowfullscreen, msallowfullscreen)
                else if profile.about.photo
                    .col-xs-12
                        .profile-photo(style='background-image: url(' + profile.about.photo + ')')
                .spacer.col-xs-12
                .col-xs-12.text-justify!= md(profile.about.text)

            #tab-i-help.tab-pane
                if profile.i_help.video
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item.col-xs-12(src=profile.i_help.video, allowtransparency='true', frameborder='0', scrolling='no', allowfullscreen, mozallowfullscreen, webkitallowfullscreen, oallowfullscreen, msallowfullscreen)
                else if profile.i_help.photo
                    .col-xs-12
                        .profile-photo(style='background-image: url(' + profile.i_help.photo + ')')
                .spacer.col-xs-12
                .col-xs-12.text-justify!= md(profile.i_help.text)

            #tab-you-help.tab-pane
                if profile.you_help.video
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item.col-xs-12(src=profile.you_help.video, allowtransparency='true', frameborder='0', scrolling='no', allowfullscreen, mozallowfullscreen, webkitallowfullscreen, oallowfullscreen, msallowfullscreen)
                else if profile.you_help.photo
                    .col-xs-12
                        .profile-photo(style='background-image: url(' + profile.you_help.photo + ')')
                .spacer.col-xs-12
                .col-xs-12.text-justify!= md(profile.you_help.text)
        .row.spacer
