extends layout

block vars
    - title = t('pages.profile.title')

block head
    link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
    script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')

block content
    .container(ng-controller='profileCtrl')
        .row
            .col-xs-12.text-center
                .button-block
                    a.btn.btn-lg.bg-green(href='messages')= t('pages.profile.messages')

                .button-block
                    a.btn.btn-lg.bg-red(href='help/requests#add')= t('pages.profile.add-new-request')

                .button-block
                    a.btn.btn-lg.bg-yellow(href='help/offers#add')= t('pages.profile.add-new-offer')
        .row.spacer
        form#profile-form
            .row
                .col-xs-12.col-sm-5
                    h2= t('pages.profile.main-info-title')
                    p= t('pages.profile.first-second-name-text')


                    .form-group
                        label.control-label(ng-class='{ "active": p.forename.edit }', for='forename')= ('*' + t('pages.profile.forename'))
                        input#forename.form-control(type='text', placeholder=t('pages.profile.forename-ph'),
                        value=profile.get('forename.value'), data-value=profile.get('forename.value'),
                        data-id=profile.get('forename.id'), ng-focus='p.forename.edit = true', ng-blur='p.forename.edit = false', ng-required='true', required)

                    .form-group
                        label.control-label(ng-class='{ "active": p.surname.edit }', for='surname')= t('pages.profile.surname')
                        input#surname.form-control(type='text', placeholder=t('pages.profile.surname-ph'),
                        value=profile.get('surname.value'), data-value=profile.get('surname.value'),
                        data-id=profile.get('surname.id'), ng-focus='p.surname.edit = true', ng-blur='p.surname.edit = false')

                    .spacer
                    p= t('pages.profile.email-text')

                    .form-group
                        label.control-label(ng-class='{ "active": p.email.edit }', for='email')= ('*' + t('pages.profile.email'))
                        input#email.form-control(type='email', placeholder=t('pages.profile.email-ph'),
                        value=profile.get('email.value'), data-value=profile.get('email.value'),
                        data-id=profile.get('email.id'), ng-focus='p.email.edit = true', ng-blur='p.email.edit = false', ng-required='true', required)

                    .form-group
                        label.control-label(ng-class='{ "active": p.phone.edit }', for='phone')= t('pages.profile.phone')
                        input#phone.form-control(type='text', placeholder=t('pages.profile.phone-ph'),
                        value=profile.get('phone.value'), data-value=profile.get('phone.value'),
                        data-id=profile.get('phone.id'), ng-focus='p.phone.edit = true', ng-blur='p.phone.edit = false')



                    .form-group
                        label.control-label(ng-class='{ "active": p.newsletter.edit }')= t('pages.profile.newsletter')
                        input#newsletter(type='checkbox', checked=profile.get('newsletter.value') ? 'checked' : undefined,
                        value=profile.get('newsletter.value') ? 'true' : 'false', data-value=profile.get('newsletter.value') ? 'true' : 'false',
                        data-id=profile.get('newsletter.id'), ng-focus='p.newsletter.edit = true', ng-blur='p.newsletter.edit = false')


                    .form-group
                        label.control-label(ng-class='{ "active": p.language.edit }', for='language')= t('pages.profile.language')
                        select#language.form-control(data-value=profile.get('language.value'),
                        data-id=profile.get('language.id'), ng-focus='p.language.edit = true', ng-blur='p.language.edit = false')
                            if !profile.get('language.value')
                                option()
                            each l in locales
                                option(selected=profile.get('language.value') == l, value=l)= t('locales.' + l)

                    .spacer
                    p= t('pages.profile.location-text')

                    .form-group
                        label.control-label(ng-class='{ "active": p.coutry.edit }', for='country')= t('pages.profile.country')
                        select#country.form-control(data-value=profile.get('country.value'),
                        data-id=profile.get('country.id'), ng-focus='p.country.edit = true', ng-blur='p.country.edit = false', ng-required='true', required)
                            if !profile.get('country.value')
                                option()
                            each l in commonCountries
                                option(selected=profile.get('country.value') == l, value=l)= l
                            optgroup(label='-----------')
                            each l in nonCommonCountries
                                option(selected=profile.get('country.value') == l, value=l)= l


                    .form-group
                        label.control-label(ng-class='{ "active": p.county.edit }', for='county')= t('pages.profile.county')
                        input#county.form-control(type='text', placeholder=t('pages.profile.county-ph'),
                        value=profile.get('county.value'), data-value=profile.get('county.value'),
                        data-id=profile.get('county.id'), ng-focus='p.county.edit = true', ng-blur='p.county.edit = false')

                    .form-group
                        label.control-label(ng-class='{ "active": p.town.edit }', for='town')= ('*' + t('pages.profile.city'))
                        input#town.form-control(type='text', placeholder=t('pages.profile.city-ph'),
                        value=profile.get('town.value'), data-value=profile.get('town.value'),
                        data-id=profile.get('town.id'), ng-focus='p.town.edit = true', ng-blur='p.town.edit = false', ng-required='true', required)

                    .spacer
                    p= t('pages.profile.address-text')

                    .form-group
                        label.control-label(ng-class='{ "active": p.address.edit }', for='address')= t('pages.profile.address')
                        input#address.form-control(type='text', placeholder=t('pages.profile.address-ph'),
                        value=profile.get('address.value'), data-value=profile.get('address.value'),
                        data-id=profile.get('address.id'), ng-focus='p.address.edit = true', ng-blur='p.address.edit = false')

                .col-xs-12.col-sm-6.col-sm-offset-1
                    h2= t('pages.profile.additional-info-title')
                    p= t('pages.profile.visibility-text')

                    .form-group
                        label.control-label(ng-class='{ "active": p.slogan.edit }', for='slogan')= t('pages.profile.slogan')
                        input#slogan.form-control(type='text', placeholder=t('pages.profile.slogan-ph'),
                        value=profile.get('slogan.value'), data-value=profile.get('slogan.value'),
                        data-id=profile.get('slogan.id'), ng-focus='p.slogan.edit = true', ng-blur='p.slogan.edit = false')

                    .spacer
                    p!= t('pages.profile.photo-text')

                    .form-group
                        label.control-label(for='photo')= t('pages.profile.photo')
                        if profile.get('photo')
                            .row.col-xs-12
                                img.img-responsive.img-thumbnail.col-xs-6(ng-show='!photoUploadPercent', src=profile.get('photo.file'), alt=profile.get('photo.value'))
                                a.col-xs-5.col-xs-offset-1.text-left.btn.btn-default.bg-red(ng-show='!photoUploadPercent', ng-click='photoDelete(#{ profile.get("photo.id") })')= t('pages.profile.delete-photo')
                        input#photo.form-control.col-xs-12(ng-show='!photoUploadPercent', type='file', custom-on-change='photoUpload')
                        .row
                            small.col-xs-12(ng-show='photoUploadPercent')= t('pages.profile.photo-upload')


                    .form-group
                        label.control-label(for='about-me-text')= t('pages.profile.about-me-text')
                        textarea#about-me-text.form-control(data-value=profile.get('about-me-text.value'),
                        data-id=profile.get('about-me-text.id'), rows=8)= profile.get('about-me-text.value')
                        p.text-right
                            small!= t('pages.profile.markdown-info')

                    .form-group
                        label.control-label(ng-class='{ "active": p.about_video.edit }')= t('pages.profile.about-me-video')
                        input#about-me-video.form-control(type='text', placeholder=t('pages.profile.video-ph'),
                        value=profile.get('about-me-video.value'), data-value=profile.get('about-me-video.value'),
                        data-id=profile.get('about-me-video.id'), ng-focus='p.about_video.edit = true', ng-blur='p.about_video.edit = false')
                        p.text-right
                            small!= t('pages.profile.video-info')



            .row.spacer

            .row.text-center
                button#saveBtn.btn.btn-success= t('pages.profile.save-btn')

            .row.spacer

        include ./profile-script
        script.
            $('#saveBtn').click(function(e) {
                e.preventDefault();
                $.smkAlert({
                    text: 'Saved',
                    type:'success'
                });
            });