extends layout

block content
    .container
        form#profile
            .row
                .form-group.col-xs-12.col-sm-12
                    label.control-label(for='topic') Topic
                    input.form-control(id='topic', type='text', value=profile.topic.db_value, data-value=profile.topic.db_value, data-id=profile.topic.id)

                .form-group.col-xs-12.col-sm-3
                    label.control-label(for='forename') Forename
                    input.form-control(id='forename', type='text', value=profile.forename.db_value, data-value=profile.forename.db_value, data-id=profile.forename.id)

                .form-group.col-xs-12.col-sm-3
                    label.control-label(for='surname') Surname
                    input.form-control(id='surname', type='text', value=profile.surname.db_value, data-value=profile.surname.db_value, data-id=profile.surname.id)

                .form-group.col-xs-12.col-sm-3
                    label.control-label(for='email') E-mail
                    input.form-control(id='email', type='text', value=profile.email.db_value, data-value=profile.email.db_value, data-id=profile.email.id)

                //- .form-group.col-xs-12.col-sm-3
                //-     label.control-label(for='you_help_photo') Profile Picture
                //-     input.form-control(id='you_help_photo', type='file')

            .row.spacer

            .row
                .col-xs-12
                    ul.nav.nav-pills.nav-justified
                        li.active(style='background-color:#f14d3e')
                            a(href='#tab-about', data-toggle='tab') About me
                        li(style='background-color:#55938e')
                            a(href='#tab-i-help', data-toggle='tab') I can help others
                        li(style='background-color:#fab235')
                            a(href='#tab-you-help', data-toggle='tab') I need help

            .row.tab-content
                #tab-about.tab-pane.active

                    .form-group.col-xs-12
                        label.control-label(for='about-me-text') Write something about you
                        textarea.form-control(id='about-me-text', data-value=profile.about.text.db_value, data-id=profile.about.text.id, rows=8)= profile.about.text.db_value
                        p.text-right
                            small you can use&nbsp;
                                a(href='https://en.wikipedia.org/wiki/Markdown#Example', target='_blank') markdown

                    //- .form-group.col-xs-12.col-sm-4
                    //-     label.control-label(for='about-me-photo') Cover Photo
                    //-     input.form-control(id='about-me-photo', type='file')

                    .form-group.col-xs-12.col-sm-8
                        label.control-label(for='about-me-video') Video URL
                        input.form-control(id='about-me-video', type='text', value=profile.about.video.db_value, data-value=profile.about.video.db_value, data-id=profile.about.video.id)
                        p.text-right
                            small
                                | we support only&nbsp;
                                a(href='https://youtube.com', target='_blank') YouTube
                                |  and&nbsp;
                                a(href='https://vimeo.com', target='_blank') Vimeo
                                |  urls

                #tab-i-help.tab-pane

                    .form-group.col-xs-12
                        label.control-label(for='me-help-you-text') How you can help others?
                        textarea.form-control(id='me-help-you-text', data-value=profile.i_help.text.db_value, data-id=profile.i_help.text.id, rows=8)= profile.i_help.text.db_value
                        p.text-right
                            small you can use&nbsp;
                                a(href='https://en.wikipedia.org/wiki/Markdown#Example', target='_blank') markdown

                    //- .form-group.col-xs-12.col-sm-4
                    //-     label.control-label(for='me-help-you-photo') Cover Photo
                    //-     input.form-control(id='me-help-you-photo', type='file')

                    .form-group.col-xs-12.col-sm-8
                        label.control-label(for='me-help-you-video') Video URL
                        input.form-control(id='me-help-you-video', type='text', value=profile.i_help.video.db_value, data-value=profile.i_help.video.db_value, data-id=profile.i_help.video.id)
                        p.text-right
                            small
                                | we support only&nbsp;
                                a(href='https://youtube.com', target='_blank') YouTube
                                |  and&nbsp;
                                a(href='https://vimeo.com', target='_blank') Vimeo
                                |  urls

                #tab-you-help.tab-pane

                    .form-group.col-xs-12
                        label.control-label(for='you-help-me-text') What kind of help you need?
                        textarea.form-control(id='you-help-me-text', data-value=profile.you_help.text.db_value, data-id=profile.you_help.text.id, rows=8)= profile.you_help.text.db_value
                        p.text-right
                            small you can use&nbsp;
                                a(href='https://en.wikipedia.org/wiki/Markdown#Example', target='_blank') markdown

                    //- .form-group.col-xs-12.col-sm-4
                    //-     label.control-label(for='you-help-me-photo') Cover Photo
                    //-     input.form-control(id='you-help-me-photo', type='file')

                    .form-group.col-xs-12.col-sm-8
                        label.control-label(for='you-help-me-video') Video URL
                        input.form-control(id='you-help-me-video', type='text', value=profile.you_help.video.db_value, data-value=profile.you_help.video.db_value, data-id=profile.you_help.video.id)
                        p.text-right
                            small
                                | we support only&nbsp;
                                a(href='https://youtube.com', target='_blank') YouTube
                                |  and&nbsp;
                                a(href='https://vimeo.com', target='_blank') Vimeo
                                |  urls

    script.
        $('input, textarea').focus(function() {
            $("label[for='" + this.id + "']").addClass('labelfocus')
        }).blur(function() {
            $('label').removeClass('labelfocus')

            input = $(this)
            if(input.data('value') != input.val()) {
                var postdata = {
                    property: input.attr('id'),
                    id: input.data('id'),
                    value: input.val()
                }
                $.post('', postdata, function(data) {
                    input.val(data.value)
                    input.data('id', data.id)
                    input.data('value', data.value)
                }).fail(console.log)
            }
        })
