extends layout

block content
    .container
        each p, i in team.sort(function(obj1, obj2) { return obj1.forename + obj1.surname > obj2.forename + obj2.surname })
            .row
                img.col-xs-3.col-sm-3.col-md-2.img-circle(src=p.photo, alt=p.forename, class=(i % 2 == 0) ? 'pull-left' : 'pull-right', style='margin-bottom:20px')
                .col-xs-12.col-md-8(class=(i % 2 == 0) ? '' : 'text-right col-md-offset-2')
                    h3= p.forename + ' ' + p.surname
                    if p.info
                        .text-justify!= md(p.info)
                    p
                        a(href='mailto:'+p.email)= p.email
                    p
                        a(href='tel:'+p.phone)= p.phone
            .row.spacer
